green-resources-video/public/配音.wav
green-resources-video/public/sounds
green-resources-video/public/配音2.wav
green-resources-video/public/补丁.wav
green-resources-video/public/补丁.pkf
green-resources-video/public/配音2.pkf
green-resources-video/绿色资源管理器
/.github
/.specify
/.vscode
/specs
green-resources-manager/.trae
